<div class="container my-4">
  <div class="card">
    <div class="card-header">Páginas</div>
    <div class="card-body">
      <h5 class="card-title">Página ID: <%= @page.id %></h5>
      <div class="card-text">
        <p>
          <strong>Título:</strong>
          <%= @page.title %>
        </p>
        <p>
          <strong>Conteúdo:</strong>
        </p>
        <div id="content_area" class="ql-editor"><%= @page.content %></div>
        <br>
        <p>
          <% if @page.visible %>
            <i class="bi bi-check-square me-2"></i><strong>Visível</strong>
          <% else %>
            <i class="bi bi-square me-2"></i><strong>Visível</strong>
          <% end %>
        </p>
      </div>
      <div>
        <%= link_to 'Editar', edit_page_path(@page), class:"btn btn-warning me-2" %>
        <%= link_to 'Voltar', pages_path, class:"btn btn-outline-dark"  %>
      </div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
<script>
  document.getElementById("content_area").innerHTML = document.getElementById("content_area").innerHTML.replace(/&lt;/g, "<").replace(/&gt;/g, ">")
</script>
